.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
}

.description h6 {
  font-size: 30px;
  color: #3b3bddc7;
}

.description button {
  width: 100px;
  margin-top: 30px;
}

.description table {
  margin-top: 30px;
}

.description span {
  margin-top: 30px;
}

.description button {
  color: #fff;
  background-color: #4096ff;
  padding: 10px;
  border-radius: 5px;
  border: unset;
  cursor: pointer;
}

.description button:hover {
  background-color: #3188f3;
}

.description .action span {
  margin-top: unset;
}

